@font-face {
    font-family: 'Rose Avenue';
    src: url('RoseAvenue.woff2') format('woff2'),
        url('RoseAvenue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

